*{
  background-color: rgb(145, 98, 248);
}

body{
  border: 6px solid black;
}

.footer {
  text-align: center;
  padding: 5px;
  background-color: #90269a;
  color: #f9db65;
}

h3{
  color: black;
  font-weight: normal;
}

h1{
  color: #f9db65;
}

div{
  padding: 20px;
}

p{
  color: whitesmoke;
}

li{
  color: whitesmoke;
}
